{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanic Web App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/styles/css/home.css'%}">
    <style>
        .navbar {
            background-color: #8A3FFC;
        }

        .navbar-brand {
            color: white;
        }

        .navbar-nav .nav-link {
            color: white;
        }

        .map-container {
            height: 350px;
            width: 100%;
        }

        .mechanic-list {
            max-width: 1200px;
            margin: 20px auto;
        }

        .mechanic-item {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">MechanicWebApp</a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item mr-5">
                    <a class="nav-link" href="">Available Mechanics</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link btn btn-primary" href="{% url 'mymodels:login_view' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-success" href="{% url 'mymodels:register' %}">Signup</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div id="map" class="map-container"></div>

        <div class="mechanic-list">
            <ul class="nav nav-tabs" id="mechanicTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="all-mechanics-tab" data-toggle="tab" href="#all-mechanics" role="tab"
                        aria-controls="all-mechanics" aria-selected="true">All Mechanics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nearby-mechanics-tab" data-toggle="tab" href="#nearby-mechanics" role="tab"
                        aria-controls="nearby-mechanics" aria-selected="false">Mechanics within 10km</a>
                </li>
            </ul>
            <div class="tab-content" id="mechanicTabsContent">
                <div class="tab-pane fade show active" id="all-mechanics" role="tabpanel"
                    aria-labelledby="all-mechanics-tab">
                    <div class="row m-2">
                        {% for mechanic in all_mechanics %}
                        <div class="col-md-4">
                            <div class="mechanic-item">
                                <p><strong>{{ mechanic.Custom.username }}</strong></p>
                                <p>Experience: {{ mechanic.experience }} years</p>
                                <p>Location: {{ mechanic.location }}</p>
                                <p>Work Hours: {{ mechanic.work_hours }}</p>
                                <p>geo : {{ example_latitude }}</p>
                                <p>geo : {{ example_longitude }}</p>
                                <a href="{% url 'car_owner:request' mec=mechanic.user.id %}" class="btn btn-primary">Make a Request</a>
                            </div>
                        </div>
                        {% empty %}
                    </div>
                    <div class="card p-4">
                        <p>No Mechanics found.</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="nearby-mechanics" role="tabpanel" aria-labelledby="nearby-mechanics-tab">
                    {% for mechanic in nearby_mechanics %}
                    <div class="mechanic-item">
                        <p><strong>{{ mechanic.user.username }}</strong></p>
                        <p><strong>{{ mechanic.user.id }}</strong></p>
                        <p>Experience: {{ mechanic.experience }} years</p>
                        <p>Location: {{ mechanic.location }}</p>
                        <p>Work Hours: {{ mechanic.work_hours }}</p>
                        <p>geo : {{ mechanic.geo_location }}</p>

                        <a href="{% url 'car_owner:request' me=mechanic.user.id  %}" class="btn btn-primary">Make a Request</a>
                    </div>
                    {% empty %}
                    <div class="card p-4">
                        <p>No Mechanics found within 10km distance around you.</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBblqkczOq7BRPD5U77_17jltgzu6ZL6Pk&loading=async&callback=initMap">
        </script>
    <script type="application/json" id="mechanics-data">{{ all_mechanics_json|json_script:"nearby_mechanics" }}</script>
    <script>

        function initMap() {
            navigator.geolocation.getCurrentPosition(function (position) {
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 10,
                    center: { lat: lat, lng: lng }
                });

                new google.maps.Marker({
                    position: { lat: lat, lng: lng },
                    map: map,
                    title: 'My Location'
                });

                var mechanicsDataString = document.getElementById('mechanics-data').textContent;
                var mechanicsData = JSON.parse(mechanicsDataString);


                var mechanics = JSON.parse(mechanicsDataString);

                console.log(mechanicsData)

                mechanics.features.forEach(function (mechanic) {
                    var coordinates = mechanic.geometry.coordinates;
                    new google.maps.Marker({
                        position: { lat: coordinates[1], lng: coordinates[0] },
                        map: map,
                        title: mechanic.properties.username,
                        icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
                    });
                });



            });

        }
    </script>

</body>

</html>