<div class="bread-crumb">
    <div class="cont">              
        <span>Edit Account Password</span>                
    </div>
</div>
 <div class="add-user">
    <div class="cont-card">
        <div class="head">
            <h3>Edit password</h3>
        </div>
        <div class="content">
            <form action="" class="form">
                <div class="form-group">
                    <div class="mb-3">
                        <label for="username" class="form-label">User Name</label>
                        <input type="text" class="form-control" >
                      </div>
                      <div class="mb-3">
                        <label for="password" class="form-label">old Password</label>
                        <input type="text" class="form-control" >
                      </div>
                      <div class="mb-3">
                        <label for="password" class="form-label"> New Password</label>
                        <input type="text" class="form-control" >
                      </div>
                      <div class="mb-3">
                        <label for="re-password" class="form-label">Re-Password</label>
                        <input type="password" class="form-control" >
                      </div>                     
                </div>
            </form>
        </div>
    </div>
                
 </div>