
{% extends 'mechanic/layout2.html' %}
{% load static %}

{% block auth_content %}    
<div class="login-form">  
	
    <form method="post" action="{% url 'mechanic:password-reset' %}">
		<p> You are requesting for a password reset</p> 
        {% csrf_token %}
		{% for message in messages %}
        	<div class="text-center mb-3">
				{% if message.tags == 'error' %}
					<small  class="text-light bg-danger">{{message}}</small >
				{% endif %}
				{% if message.tags == 'warning' %}
					<small  class="text-light bg-warning">{{message}}</small >
				{% endif %}
				{% if message.tags == 'success' %}
					<small  class="text-light bg-success">{{message}}</small >
				{% endif %}
			</div>                 
		{% endfor %}
        <div class="form-group mb-3">
            <div class="input-group">
                <div class="input-group-text">
                	<span class="fa fa-envelope"></span>
                </div>
				<input type="email" name="email" placeholder="Email..." class="form-control ", value="{{values.email}}"/>
            </div>
			<small class="form-text text-muted">Enter the email used at registration</small>
        </div>
        <div class="form-group">
            <button type="submit" class="btn mb-3">Send Request</button>
        </div>       
    </form>      
</div>
{% endblock %}
